.chartRadioSelectWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.chartRadioSelectWrapper > label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    font-family: Roboto sans-serif;
}


.radioInput {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px #c4c4c4 solid;
    margin-right: 8px;
}

.radioInput:checked {
    background-color: #88EC86;
}


@media (max-width: 768px) {
    .chartRadioSelectWrapper > label {
        margin-bottom: 8px;

    }
    
}