.formStyles {
    width: 100%;
}

.defaultInputField {
    position: relative;
    width: 100%;
    margin-bottom: 48px;
}

.defaultInputField > label > p {
    margin-bottom: 8px;
}

.defaultInputField > label {
    font-family: Roboto sans-serif;
}

.defaultInputField > label > input {
    position: relative;
    width: 100%;
    display: block;
    font-family: Roboto sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #1d1d1d;
    background: hsla(0,0%,100%,.1);
    border: 1px solid #1d1d1d;
    border-radius: 12px;
    padding: 16px;
}

.validationHint {
    position: absolute;
    left: 0;
    bottom: -16px;
    font-size: 12px;
    color: #d90021;
}