.container {
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 1024px;
    padding: 56px 24px 36px;
    margin: 0 auto;
    align-items: center;
    background-color: #ffffff;
}


@media (max-width: 1023px) {
    .container {
        width: 100vw;
        padding: 24px 16px 36px;
    }

}

@media (max-width: 768px) {
    .container {
        width: 100vw;
        padding: 24px 16px 36px;
        height: 100vh;
    }
}